/*ESTILO DE PAGE NAVIGATION Y HOVER*/
.navpage{
    margin: 0px;
    width: 100%;
    .pagination{
    justify-content: center;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #cac6c1;
}
}
.pagination .page-item{
    padding: 10px;
}
.page-item{
    padding: 5px;
    &hover{
        background-color: #d6b090;
    border-radius: 2px;
    }
}
