@charset "UTF-8";
/*COLORES*/
/*MAP - GET IT*/
.headerOff p {
  display: flex;
  background-color: #b08968;
  justify-content: center;
  padding: 10px;
  margin: 0px; }

/*MIXIN SIN PARÁMETRO DEL LOGO*/
.logo img {
  display: flex;
  justify-content: center;
  text-align: center; }

/*EXTEND CON BOTONES*/
.boton1, .boton2 {
  margin-top: 10px;
  padding: 10px;
  width: 380px;
  justify-content: left;
  background-color: #d39b6d;
  border-radius: 5px;
  border-style: none;
  transition: 0.1s; }
  .boton1:hover, .boton2:hover {
    background: #ac764a; }

.boton2 {
  width: 160px; }

* {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  font-size: 62,5%; }

.col-md-12 {
  margin: 0px;
  padding: 0px; }

img {
  width: 100%; }

.container {
  max-width: 100%;
  margin: 0px;
  padding: 0px; }

.container-fluid {
  max-width: 100%;
  margin: 0px;
  padding: 0px; }

/*ESTILO DE TITULO DE PÁG "NEWIN"*/
.tituloNew {
  text-align: center;
  padding: 15px; }

/*ESTILO DE SECCIÓN INFO*/
.info .envio {
  font-weight: 700;
  text-align: left;
  margin: 20px;
  padding-left: 10px; }

.lorem {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 10px; }

/*ESILOS DE SECCIÓN PAGO*/
.pagos {
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 100%; }

.pago img {
  padding: 10px;
  max-width: 200px;
  max-height: 150px;
  justify-content: left; }

.pagoTexto {
  text-align: left;
  font-weight: bolder;
  padding: 20px; }

.phototo {
  width: 100%; }

.formaPago {
  display: flex;
  justify-content: left;
  border-style: none;
  background-color: white; }

/*ESTILO DEL HEADER DE DESCUENTO*/
.headerOff p {
  display: flex;
  background-color: #b08968;
  justify-content: center;
  padding: 10px;
  margin: 0px; }

/*ESTILO DEL LOGO*/
.logo img {
  display: flex;
  justify-content: center;
  text-align: center; }

/*ESTILO DEL NAV BAR*/
.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b08968;
  padding: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin: 0px; }

.navegacion {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px; }
  .navegacion .navbar {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px; }
  .navegacion li:hover {
    background-color: #ddb892;
    padding: 0px 15px;
    border-radius: 2px;
    margin: 0px; }

.navbar .listas {
  background-color: #b08968;
  margin-bottom: 0px;
  margin-top: 0px; }
  .navbar .listas .lista {
    display: flex;
    justify-content: center;
    background-color: #b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0px; }

.lista li {
  padding: 0px;
  text-decoration: none;
  margin-bottom: 0px;
  padding: 0px 20px; }

.navbar-brand {
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: #000000; }

ul, li {
  list-style-type: none; }

/*ESTILO DE FORMULARIO*/
.formulario {
  background-color: #ddb892;
  padding: 10px;
  max-width: 100%; }
  .formulario .formu {
    border: 1px;
    border-style: solid;
    border-color: #7a7a7a; }

.formu {
  background-color: #cac6c1;
  font-weight: 500;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  max-width: 500px; }

.formulario {
  margin: 0px;
  padding: 20px; }
  .formulario .contactanos {
    font-weight: 400;
    font-size: 30px;
    text-align: center; }

/*ESTILO Y TRANSICIÓN DE BOTÓN*/
.cajaboton .boton2 {
  margin-top: 10px;
  padding: 10px;
  width: 160px;
  justify-content: left;
  background-color: #24160c;
  border-radius: 5px;
  border-style: none;
  transition: 0.1s; }
  .cajaboton .boton2:hover {
    background-color: #ac764a; }

/*ESTILO DEL FOOTER Y HOVER*/
.piePagina {
  display: grid;
  flex-direction: column;
  background-color: #b08968;
  text-align: center; }
  .piePagina p {
    text-align: center;
    margin: 0px;
    padding-bottom: 10px; }
    .piePagina p li {
      display: inline;
      text-align: center; }

.copyright {
  font-weight: lighter;
  color: #fff; }

.socialMedia {
  padding: 10px; }
  .socialMedia a:hover {
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none; }

@media screen and (max-width: 320px) {
  .container-fluid, .headerOff, .lista, .intro, .piePagina {
    display: block;
    justify-content: center;
    text-align: center; }
  .navbar .navbar-brand .listas {
    display: flex;
    flex-direction: column; }
  .intro, .tituloPrin, p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px; } }

.tituloPrin {
  font-size: 30px; }

.intro .subtituloP {
  font-size: 15px; }

.pagos .pago {
  display: inline-flex; }

.cajaF .boton1, .cajaF .boton2 {
  width: 100%;
  max-width: 250px;
  max-height: 40px; }

.cajaboton .boton2 {
  width: 100%;
  background-color: #d39b6d; }

.cajaF .inputCart {
  width: 100%;
  max-width: 250px;
  max-height: 40px; }

.cajadePrenda {
  max-width: 100%;
  padding: 15px; }

.prenda {
  padding-bottom: 10px; }

@media screen and (max-width: 768px) {
  .container-fluid, .headerOff, .logo .lista, .intro, .piePagina {
    display: flex;
    justify-content: center;
    text-align: center; }
  .pagos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%; }
  .pago img {
    padding: 10px;
    max-width: 200px;
    max-height: 150px;
    justify-content: left; }
  .lista {
    display: flex;
    padding: 2px;
    font-size: 20px;
    text-align: center; }
  .intro {
    padding: 5px;
    font-size: 10px; }
  .intro, h1, p {
    text-align: center;
    margin-bottom: 1px; }
  .headerOff {
    font-size: 10px; }
  .info {
    font-size: 10px;
    margin-bottom: 5px; } }

@media screen and (max-width: 1024px) {
  .container-fluid, .headerOff, .logo .lista, .intro, .piePagina {
    display: block;
    justify-content: center;
    text-align: center; }
  .pagos img {
    max-width: 200px; }
  .lista {
    font-size: 20px; }
  .lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0px; } }

@media screen and (min-width: 1024px) {
  .listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0px; }
  .coluimg {
    padding-top: 10px;
    padding-left: 190px; }
  .coltext {
    padding-right: 150px; }
  .tituloPrin {
    font-size: 30px; }
  .intro .subtituloP {
    font-size: 16px; }
  .cajaF .inputCart {
    border-radius: 10px;
    padding: 10px 20px;
    width: 380px;
    margin-bottom: 15px;
    border-style: none; }
  .cajaF .boton1, .cajaF .boton2 {
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 380px;
    margin-bottom: 15px;
    border-style: none; }
  .cajaboton .boton2 {
    width: 160px;
    background-color: #d39d69; } }

.cajadePrenda {
  max-width: 100%;
  padding: 15px;
  background-color: white;
  margin: 0px; }

.prendaImg2 {
  max-width: 450px;
  max-height: 520px; }

.carddd {
  border-style: none;
  padding: 0px; }

.cardTextito {
  text-align: left;
  font-size: 16px; }

.inputCart {
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  width: 380px;
  margin-bottom: 15px;
  border-style: none; }

.boton1, .boton2 {
  width: 380px; }

.cajaCarrito p {
  text-align: left; }

.img-thumbnail {
  display: flex;
  justify-content: left;
  border-style: none;
  width: 100px;
  height: 100px; }

/*ESTILO DE PRODUCTO*/
.card-title {
  font-weight: normal;
  font-family: 'Inconsolata', monospace; }

.precio {
  font-weight: bold;
  text-align: left; }

.formaPago {
  padding: 5px;
  text-align: left;
  font-weight: 500; }

.cantidadText {
  display: flex;
  font-size: 12px;
  justify-content: left; }

/*ESTILO DEL TEXTO DE INTRO + ANIMACIÓN*/
.intro {
  text-align: center;
  background-color: #ddb892;
  padding: 20px;
  margin: 0px; }

.tituloPrin {
  font-family: serif;
  font-size: 30px;
  animation-duration: 3s;
  animation-name: anima; }

@keyframes anima {
  0% {
    opacity: 0%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

.intro .subtituloP {
  padding-top: 5px;
  font-size: 16px; }

/*ESTILO DE IMAGENES DE LOS PRODUCTOS*/
.contenedorPrendas {
  background-color: #c9c5c0;
  max-width: 100%;
  align-items: center;
  padding: 20px 20px;
  text-align: center; }

.prendas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: 10px; }

.prendaImg {
  max-width: 300px;
  max-height: 330px;
  border-radius: 2px; }

.prendas .prendaTexto {
  text-align: center;
  background-color: #ddba9e;
  max-width: 300px; }

.titlePrenda, p {
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

.tituloProductos {
  margin: 10px;
  padding: 10px;
  text-align: left; }

/*ANIMACIÓN HOVER DE LAS IMAGENES*/
.prendaTexto:hover {
  transform: scale(1.1); }

/*ANIMACIÓN TRANSFORM DE IMAGENES*/
.carr:hover {
  transform: scale(1.1);
  background-color: #f0d6bb; }

/*ESTILO DE PAGE NAVIGATION Y HOVER*/
.navpage {
  margin: 0px;
  width: 100%; }
  .navpage .pagination {
    justify-content: center;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #cac6c1; }

.pagination .page-item {
  padding: 10px; }

.page-item {
  padding: 5px; }
  .page-itemhover {
    background-color: #d6b090;
    border-radius: 2px; }
