*{
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

img{
    width: 100%;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
}
/*Estilo del Header de descuento*/
.headerOff p{
    display: flex;
    background-color: #b08968;
    justify-content: center;
    padding: 10px;
    margin: 0px;
} 
/*Estilo del Logo*/
.logo img{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*Estilo del Nav Bar*/
.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    margin: 0px;
}
.lista li{
    padding: 0px 20px;
    text-decoration: none;
}

.navegacion li:hover{
    background-color: #fff;
    padding: 0px 15px;
    border-radius: 2px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black
}
a:hover{
    text-decoration: none;
    color: #000000;
}
ul {
    list-style-type: none;
}

/*Estilo de Texto Intro*/
.intro{
    text-align: center;
    background-color:  #ddb892;
    padding: 20px;
    margin: 0px;
}

h1{
    font-family: serif;
    font-weight:700;
    animation-duration: 3s;
    animation-name: anima;
}

@keyframes anima{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}

.intro p{
    padding-top: 10px;
}
/*Estilo de Imagenes Intro*/
.roww{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px;
    padding: 20px;
  }
  .photo1 { grid-area: 1 / 1 / 2 / 2; }
  .photo2 { grid-area: 1 / 2 / 2 / 3; }
  .photo3 { grid-area: 1 / 3 / 2 / 4; }


/*Estilo de Productos*/
.contenedorProductos{
    background-color: #cac6c1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 100%;
}
.contenedorCards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carrd{
    border-style: none;
    padding: 10px;
    margin: 10px;
    justify-content: center;
    border-radius: 2px;
}

.carrd{
    max-width: 300px;
}
/*
.card .cardRopa{
    padding: 5px;
    text-align: center;
}
*/
.cardRopa{
    width: 250px;
    height: 290px;
    border-radius: 2px;
}
.tituloProductos{
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.carrd .cardText{
    text-align: center;
    font-style: normal;
    padding: 5px;
}


.tituloNew{
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/*Page Navigation*/
.pagination{
    display: flex;
    padding: 15px;
    justify-content: center;
}
.pagination .page-item{
    padding: 15px;
}
.page-item:hover{
    background-color: #ac764a;
    border-radius: 2px;
}

/*Transform*/
.carrd:hover{
    transform: scale(1.1);
    background-color: #f0d6bb;
}
/*Estilo de Info sobre Pagos*/

.info .envio{
    font-weight: 700;
    text-align: left;
    margin: 20px;
    padding-left: 10px;
}
.lorem{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*Estilo de Medios de Pago*/
.pagos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
}

.pago img{
    padding: 10px;
    max-width: 200px;
    max-height: 150px;
    justify-content: left;
}

.pagoTexto{
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}

/* Estilo de Formulario*/
.formulario{
    background-color: #ddb892;
    padding: 10px;
    max-width: 100%;

}
.formulario .formu{
    border: 1px;
    border-style: solid;
    border-color: rgb(122, 122, 122);
}
.formu{
    background-color: #cac6c1;
    font-weight: 500;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 500px;
}

.formulario .contactanos{
    margin: 0px;
    padding: 20px;
}
.contactanos{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/* Transition de Botón*/
.btn{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    background-color: #d39b6d;
    border-radius: 5px;
    border-color: black;
    transition: 0.5s;
}

.btn:hover{
    background: #ac764a;
}
/*Transition de Input*/
input:focus{
    width: 150px;
    height: 30px;
    font-size: 18px;
    transition: all 1s;
}

/*Estilo del Footer*/
.container{
    max-width: 100%;
}
.piePagina{
    display: grid;
    flex-direction: column;
    background-color: #b08968;
    text-align: center;
}
.piePagina p{
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}
.piePagina li{
    display: inline;
    text-align: center;
}

.socialMedia{
    padding: 10px;
}

.piePagina .copyright{
    font-weight: lighter;
    color: #fff;
}

.socialMedia a:hover{
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}


/*GRID DE HTML*/
.contenedor{
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: (7, 1fr );
    grid-template-areas:
    "headerOff" "headerOff" "headerOff"
    "logo" "logo" "logo"
    "navegacion" "navegacion" "navegacion"
    "intro" "intro" "intro"
    "roww" "roww" "roww"
    "small-container" "small-container" "small-container"
    "piePagina" "piePagina" "piePagina"
}


.headerOff{
    grid-area: headerOff;
}

.logo{
    grid-area: logo;
}
.navegacion{
    grid-area: navegacion;
}
.intro{
    grid-area: intro;
}

.roww{
    grid-area: roww;
}
.small-container{
    grid-area: small-container;
}
.piePagina{
    grid-area: piePagina;
}
/*RESPONSIVE*/

@media screen and (max-width:320px){
    .container-fluid, .headerOff, .lista, .intro, .piePagina {
        display: block;
        justify-content: center;
        text-align: center;

    }
.lista{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    }
.intro, h1, p {
        text-align: center;
    }
}
.pagos .pago{
    display: inline-flex;
}

/*
.container-fluid img{
    width: 200px;
}*/

@media screen and (max-width:768px){
    .container-fluid, .headerOff, .logo .lista, .intro, .piePagina {
        display: flex;
        justify-content: center;
        text-align: center;
}
.pagos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
}

.pago img{
    padding: 10px;
    max-width: 200px;
    max-height: 150px;
    justify-content: left;
}
.lista{
    display: flex;
    padding: 2px;
   font-size: 15px;
   text-align: center;
}
.intro{
    padding: 5px;
    font-size: 10px;
}
.intro, h1, p {
    text-align: center;
    margin-bottom: 1px ;
}
.headerOff{
    font-size: 10px;
}

.info{
    font-size: 10px;
    margin-bottom: 5px;
}

}
@media screen and (max-width:1200px){
    .container-fluid, .headerOff, .logo .lista,  .intro, .piePagina {
        display: block;
        justify-content: center;
        text-align: center;
    }
    /*
.pagos .pago img{
    display: inline-flex;
    justify-content: left;
}*/
.pagos img{
    max-width: 200px;
}

}