*{
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}
.col-md-12{
   margin: 0px;
   padding: 0px;
}
img{
    width: 100%;
}
.container{
    max-width: 100%;
    margin:0px;
    padding: 0px;
}
.container-fluid{
    margin: 0px;
    padding: 0px;
}
/*ESTILO DEL HEADER DE DESCUENTO
.headerOff p{
    display: flex;
    background-color: #b08968;
    justify-content: center;
    padding: 10px;
    margin: 0px;
} */
/*ESTILO DEL LOGO*/

.logo img{
    display: flex;
    justify-content: center;
    text-align: center;
}
/*ESTILO DEL NAV BAR*/
.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
}
.navegacion{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar .lista{
    background-color: #b08968;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.listas li{
    justify-content: center;
    padding: 0px;
    text-decoration: none;
    margin-bottom: 0px;
    padding: 0px 20px;
}
.navegacion .navbar{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navegacion li:hover{
    background-color: #ddb892;
    padding: 0px 15px;
    border-radius: 2px;
    margin: 0px;
    
}
.navbar-brand{
    margin: 0px;
    padding: 0px;

}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    text-decoration: none;
    color: #000000;
}
ul, li {
    list-style-type: none;
}
/*ESTILO DEL TEXTO DE INTRO + ANIMACIÓN*/
.intro{
    text-align: center;
    background-color:  #ddb892;
    padding: 20px;
    margin: 0px;
}
.tituloPrin{
    font-family: serif;
    font-weight:  400px;
    animation-duration: 3s;
    animation-name: anima;
}
@keyframes anima{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}
.intro p{
    padding-top: 10px;
}
/*ESTILO DE IMAGENES INTRO*/
.roww{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 0px 0px;
    padding: 20px;
  }
  .photo1 { grid-area: 1 / 1 / 2 / 2; }
  .photo2 { grid-area: 1 / 2 / 2 / 3; }
  .photo3 { grid-area: 1 / 3 / 2 / 4; }

/*cajja*/
.cajadePrenda{
    padding: 50px 160px;
    background-color: orange;
}

.prendaImg2{
    max-width: 450px;
    max-height: 520px;
}
.carddd{
    background-color: violet;
    padding-right: 10px;
}
.cardTextito{
    text-align: left;
    font-size: 16px;
}
.inputCart{
    border-radius: 10px;
    padding: 10px 20px;
    width: 380px;
    margin-bottom: 15px;
    border-style: none;
}
/*
.carrito{
    border-radius: 10px;
    border-style: none;
    background-color: #b08968;
}*/
.cajaCarrito p{
    text-align: left;
}
.img-thumbnail{
    display: flex;
    justify-content: left;
    border-style: none;
    width: 100px;
    height: 100px;
    
}
/*ESTILO DE PRODUCTO*/
.card-title{
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
}
.precio{
    font-weight: bold;
    text-align: left;
}
.formaPago{
    padding: 5px;
    text-align:left;
    font-weight:500;
}

/*ESTILO DE IMAGENES DE LOS PRODUCTOS*/
.contenedorPrendas{
    background-color: hsl(33, 8%, 77%);
    max-width: 100%;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
}
.prendas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}
.prendaImg{
    max-width: 300px;
    max-height: 330px;
    border-radius: 2px;
}
.prendas .prendaTexto{
    text-align: center;
    background-color: #ddba9e;
    max-width: 300px;
}
.titlePrenda,p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.tituloProductos{
    margin: 10px;
    padding: 10px;
    text-align: left;
}

/*ANIMACIÓN HOVER DE LAS IMAGENES*/
.prendaTexto:hover{
    transform: scale(1.1);
}

/*ANIMACIÓN TRANSFORM DE IMAGENES*/
.carr:hover{
    transform: scale(1.1);
    background-color: #f0d6bb;
}
/*ESTILO DE TITULO DE PÁG "NEWIN"*/
.tituloNew{
    text-align: center;
    padding: 15px;
}
.row{
    padding: 0px;
    margin: 0px;
}
/*ESTILO DE PAGE NAVIGATION Y HOVER*/
.navpage .pagination{
    justify-content: center;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #cac6c1;
}
.page-item{
    padding: 5px;
}
.pagination .page-item{
    padding: 10px;
}
.page-item:hover{
    background-color: #d6b090;
    border-radius: 2px;
}

/*ESTILO DE SECCIÓN INFO*/
.info .envio{
    font-weight: 700;
    text-align: left;
    margin: 20px;
    padding-left: 10px;
}
.lorem{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

/*ESILOS DE SECCIÓN PAGO*/
.pagos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
}
.pago img{
    padding: 10px;
    max-width: 200px;
    max-height: 150px;
    justify-content: left;
}
.pagoTexto{
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}

/*ESTILO DE FORMULARIO*/
.formulario{
    background-color: #ddb892;
    padding: 10px;
    max-width: 100%;

}
.formulario .formu{
    border: 1px;
    border-style: solid;
    border-color: rgb(122, 122, 122);
}
.formu{
    background-color: #cac6c1;
    font-weight: 500;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 500px;
}

.formulario .contactanos{
    margin: 0px;
    padding: 20px;
}
.contactanos{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/*ESTILO Y TRANSICIÓN DE BOTÓN
.boton1{
    margin-top: 10px;
    padding: 10px;
    width: 380px;
    justify-content: left;
    background-color: #d39b6d;
    border-radius: 5px;
    border-style: none;
    transition: 0.1s;
}
.boton1:hover{
    background: #ac764a;
}*/

/*TRANSICIÓN DE INPUT*/
input:focus{
    width: 150px;
    height: 30px;
    font-size: 18px;
    transition: all 1s;
}

/*ESTILO DEL FOOTER Y HOVER*/
.piePagina{
    display: grid;
    flex-direction: column;
    background-color: #b08968;
    text-align: center;
}
.piePagina p{
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
}
.piePagina li{
    display: inline;
    text-align: center;
}
.socialMedia{
    padding: 10px;
}
.piePagina .copyright{
    font-weight: lighter;
    color: #fff;
}

.socialMedia a:hover{
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}

/*GRID DE HTML*/
.contenedor{
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: (7, 1fr );
    grid-template-areas:
    "headerOff" "headerOff" "headerOff"
    "logo" "logo" "logo"
    "navegacion" "navegacion" "navegacion"
    "intro" "intro" "intro"
    "roww" "roww" "roww"
    "small-container" "small-container" "small-container"
    "piePagina" "piePagina" "piePagina"
}

.headerOff{
    grid-area: headerOff;
}

.logo{
    grid-area: logo;
}
.navegacion{
    grid-area: navegacion;
}
.intro{
    grid-area: intro;
}

.roww{
    grid-area: roww;
}
.small-container{
    grid-area: small-container;
}
.piePagina{
    grid-area: piePagina;
}
/*RESPONSIVE*/

@media screen and (max-width:320px){
    .container-fluid, .headerOff, .lista, .intro, .piePagina {
        display: block;
        justify-content: center;
        text-align: center;

}
.navbar .navbar-brand .listas{
    display: flex;
    flex-direction: column;
}

.intro, h1, p {
        text-align: center;
        margin-bottom: 0px;
    }
}
.pagos .pago{
    display: inline-flex;
}
@media screen and (max-width:768px){
    .container-fluid, .headerOff, .logo .lista, .intro, .piePagina {
        display: flex;
        justify-content: center;
        text-align: center;
}
.pagos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 100%;
}
.pago img{
    padding: 10px;
    max-width: 200px;
    max-height: 150px;
    justify-content: left;
}
.lista{
    display: flex;
    padding: 2px;
   font-size: 20px;
   text-align: center;
}
.intro{
    padding: 5px;
    font-size: 10px;
}
.intro, h1, p {
    text-align: center;
    margin-bottom: 1px ;
}
.headerOff{
    font-size: 10px;
}

.info{
    font-size: 10px;
    margin-bottom: 5px;
}

}
@media screen and (max-width:1024px){
    .container-fluid, .headerOff, .logo .lista,  .intro, .piePagina {
        display: block;
        justify-content: center;
        text-align: center;
    }

.pagos img{
    max-width: 200px;
}
.lista{
    font-size: 20px;
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#b08968;
    padding: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
}
}
@media screen and (min-width:1024px){
    .listas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#b08968;
        padding: 10px;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        margin: 0px;
    }
}